*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}
main{
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h2{
    margin: 20px;
    font-size: 1.5em;
    background-color: lightgreen;
    width: 95%;
    text-align: center;
    border-radius: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid lightgrey;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.card > div {
    width: 95%;
    text-align: center;
}

code{
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 5px;
    width: 90%;
}

